@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #cc9901;
  --color-2: #daa520;
  --color-3: #7c0a01;
  --color-4: #3d0c01;
  --color-5: #1b1811;
  --color-6: #1a1a1a;
}

body {
  background: var(--color-6);
  font-family: Arial, Helvetica, sans-serif;
  @apply text-right;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    @apply w-full max-w-2xl mx-auto;
  }
}
